<h1><%= planta.id %></h1>
   
    <h1>nombre de planta <%= planta.plant_name %></h1>
    <h2>temperatura ideal <%= planta.temperatura_ideal %> </h2>
    <h2>nativa de: <%= planta.nativa %></h2>
    <h2>cantidad de luz ideal <%= planta.luz_ideal %></h2>
    <h2>es apta sombra? <%= planta.apta_sombra %></h2>
    <h2>es apta sol directo? <%= planta.apta_sol_directo %></h2>
    <h2>plagas mas comunes <%= planta.pestes_comunes %></h2>
    <h2>floracion en Argentina <%= planta.floracion_hemisferio_sur %></h2>
    <h2>suelo acido o basico? <%= planta.suelo %></h2>



